extends layout

block content
  h1= title
  -
    let results = [
      { book_name: "Dracula", author: "Bram Stoker", price: 59 },
      { book_name: "Fahrenheit 451", author: "Ray Bradbury", price: 99 },
      { book_name: "Into the Woods", author: "James Lapine", price: 89 }
    ]

  div(class="container-fluid")
    each item, index in results  
      div(class="row")
        div(class="col-sm-2") book_name: #{item.book_name}
        div(class="col-sm-2") author: #{item.author}
        div(class="col-sm-2") price: #{item.price}
        div(class="col-sm-2") 
          button(onclick=`buy(${index})`) Buy  

  script.
    function buy(itemNum){
      alert(`You purchased item ${itemNum+1}`)
    }
