extends layout
block content
  h1= title
  - let Bookid = toShow._id
  - let Book_name = toShow.Book_name
  - let Book_year = toShow.Book_year
  - let Book_price = toShow.Book_price
  div
    div.row
      div(class='BookAttr mr-3') Book ID is:
        div #{Bookid}
    div.row
      div(class='BookAttr mr-3') Book Name is:
        div #{Book_name}
    div.row
      div(class='BookAttr mr-3') Book Year is:
        div #{Book_year}
    div.row
      div(class='BookAttr mr-3') Book Price is:
        div #{Book_price}