extends layout

block content
  h1= title
   - var Book=[{Book_name:"Jane Eyre",Book_year:"2011",Book_price:200},{Book_name:"Barve New World",Book_year:"2012",Book_price:300},{Book_name:"Matilda",Book_year:"2018",Book_price:100}]
  div(class="container-fluid")
  div(class="row")
   each f,index  in Book
    div(class="col-sm-2" onclick =`buy(${index})`) #{f.Book_name}, #{f.Book_year}, #{f.Book_price}
    script.
        function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        } 